@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 80px;
    font-family: 'Comfortaa', sans-serif;
}